{
	"alreadyBooked": true,
    "driverLicenceNumber": "CAMERO60601DJ4ID",
    "applicationRefNumber": "73917501",
    "testCentreName": "Isleworth",
    "preferredTestDate": "27/05/15",
    "minYear": 2015,
    "minMonth": 4,
    "minDay": 9,
    "maxYear": 2015,
    "maxMonth": 4,
    "maxDay": 30,
    "emailTo":"you@example.com",
    "emailName":"James",
    "emailFrom":"me@example.com",
    "emailSubject":"DVLA Practical Test notification",
    "smtpFromUsername":"me",
    "smtpFromPassword":"mypassword",
    "smtpServer":"smtp.example.com"
}